
.ainuLogo {
  filter: brightness(0) invert(1);
  height: 5ch;
}


// footer {
//   position: relative;
//   bottom: 0;
//   width: 100%;
// }
body, html {
  background-color: white !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-bottom: 5rem; /* Ensure footer space */
  overflow-y: auto;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
}

.email {
  position: absolute;
  padding: 5px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  // font-size: 16px;
}
