<form [formGroup]="changePasswordForm">
  <div class="fixed inset-0 flex items-center justify-center popup-container"
  >
    <div class="bg-white w-full max-w-4xl rounded-lg shadow-lg p-6">
      <!-- Header Section -->
      <div class="flex justify-between items-center border-b pb-2">
        <h2 class="text-lg font-bold text-gray-700">Change password</h2>
        <button class="text-red-800 text-lg font-bold" (click)="closePopup()">
          ✖
        </button>
      </div>

      <!-- Content -->
      <div class="py-4">
        <div class="col-span-4">
          <label class="block text-sm font-semibold text-gray-700 mb-1">Current Password:</label>
          <input
            type="password"
            class="w-full p-2 border rounded"
            placeholder="Enter current password"
            formControlName="currentPassword"
            autocomplete="new-password"
          />
        </div>

        <!-- New Password -->
        <div class="col-span-4 mt-4">
          <label class="block text-sm font-semibold text-gray-700">New Password:</label>
          <input
            type="password"
            class="w-full p-2 border rounded"
            placeholder="Enter new password"
            formControlName="newPassword"
            autocomplete="new-password"
          />
        </div>

        <!-- Confirm Password -->
        <div class="col-span-4 mt-4">
          <label class="block text-sm font-semibold text-gray-700">Confirm Password:</label>
          <input
            type="password"
            class="w-full p-2 border rounded"
            placeholder="Confirm new password"
            formControlName="confirmPassword"
          />
          <!-- <span
      *ngIf="changePasswordForm.errors?.mismatch"
      class="text-red-500 text-sm"
    >
      Passwords do not match
    </span> -->
        </div>
      </div>

      <!-- Action Buttons -->

      <div class="col-span-4 mt-4 flex justify-center">
        <button
          class="bg-red-800 text-white px-5 py-2 rounded hover:bg-red-800 transition flex items-center justify-center w-full max-w-xs"
          (click)="updatePassword()"
          [disabled]="changePasswordForm.invalid"
        >
          <i class="fas fa-save mr-2"></i> Update Password
        </button>
      </div>
    </div>
  </div>
</form>
