.ainuLogo {
  max-width: 40%;
  height: auto;
}
.sliding-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.forgot-password {
  text-align: right;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}
.text-red-600 {
  color: #f44336; /* Ensures red color for error */
}
.success-snackbar {
  background: #4caf50 !important; /* Green background for success */
  color: white !important;
  font-weight: bold;
}
